<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.univcotedazur.fr/i3s/kairos/moccml/example/concurrlang/ConcurrLang"
			class = "fr.univcotedazur.i3s.kairos.moccml.example.concurrlang.concurrLang.ConcurrLangPackage"
			genModel = "model/generated/ConcurrLang.genmodel" />
	</extension>
</plugin>
